.pokeIMG{
    height:auto;
    width:100%;
}
.title{
    text-align: center;
    padding: 2px;
    text-decoration: none !important;
}
.subheader{
    text-align: center;
    margin: 2px;
}
.honourableMentions{
    margin: 10px;
}
.row{
    padding: 10px;
}
.text-decoration-none {
     text-decoration: none !important;
}