#pokeList{
    z-index: 1;
    position: relative;
    margin: 10px;
}
.a{
    color: black;
}

.p{
    font-size: 15px;
}

.pagingWrapper{
    position: relative;
}
.paging {
    position: absolute;
    left: 33%;
}