.dropdownitems{
    width: 200px;
    align-content: center;
}
.dropdownheader{
    font-weight: bold;
    padding: 5px;
    font-size: 15px;
}

.dropdownImg{
    display: inline;
    position: center;
}
.dropdownName{
    display: inline;
}